html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root,
body,
* {
  font-family: var(--spartan);
  box-sizing: border-box;
}

p.normal,
span.normal {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: var(--font-med);
  letter-spacing: -0.0025rem;
}

p.small {
  font-size: 1.1rem;
  line-height: 1.8rem;
  /* font-weight: var(--font-med); */
  letter-spacing: -0.0023rem;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2.4rem minmax(32.7rem, 1fr) 2.4rem;
  grid-template-rows: 7.2rem 3.2rem 1fr;
  grid-template-areas:
    "sidebar sidebar sidebar"
    ".....    .....    ....."
    ".....     main    .....";
  /* overflow: hidden; */
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 4.8rem minmax(32.7rem, 1fr) 4.8rem;
    grid-template-rows: 7.2rem 5.6rem 1fr;
  }
}

@media screen and (min-width: 1110px) {
  body {
    grid-template-columns: 10.3rem 1fr 73rem 1fr;
    grid-template-rows: 7.2rem 1fr;
    grid-template-areas:
      "sidebar .. .. .."
      "sidebar . main .";
    /* minmax(25.2rem, 1fr) */
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  outline: none;
  border-radius: 8px;
}

.cal {
  grid-area: cal;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 15px;
  grid-auto-flow: row;
  place-items: center;
  margin-bottom: 1.6rem;
}

@supports (row-gap: 1.6rem){
  .cal {
    margin-bottom: 0;
    row-gap: 16px;
  }
}

.cal p {
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: var(--font-bold);
  transition: color 250ms ease;
}

.cal p.cur-month {
  color: var(--datePicker-normal-text-col);
}

.cal p.cur-month.selected {
  position: relative;
  z-index: 5;
  color: var(--datePicker-selectedDate-col);
}
.cal p.cur-month.hover {
  color: white;
}

.cal p.cur-month.selected::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  height: 175%;
  width: 100%;
  transform: translateY(-58%);
  background: var(--purple-500);
  z-index: -1;
  border-radius: 5px;
}

.cal p.prev-month,
.cal p.next-month {
  color: #343853;
}

.cal p.cur-month:hover {
  color: var(--purple-500);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}