html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

:root, body, * {
	font-family: var(--spartan);
	box-sizing: border-box;
}

p.normal {
	font-size: 1.2rem;
	line-height: 1.5rem;
	font-weight: var(--font-med);
	letter-spacing: -0.0025rem;
}

p.small {
	font-size: 1.1rem;
	line-height: 1.8rem;
	font-weight: var(--font-med);
	letter-spacing: -0.0023rem;
}

body {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 2.4rem minmax(32.7rem, 1fr) 2.4rem;
	grid-template-rows: 7.2rem 1fr;
	grid-template-areas: 
	"sidebar sidebar sidebar"
	".....     main    .....";
}

@media screen and (min-width: 768px ){
	body {
		grid-template-columns: 4.8rem minmax(32.7rem, 1fr) 4.8rem;
		grid-template-rows: 7.2rem 1fr;
	}
}

@media screen and (min-width: 1110px ){
	body {
		grid-template-columns: 10.3rem 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 
		"sidebar main"
	}
}




